[submodule "modules/math"]
	path = modules/math
	url = https://github.com/TimZoet/math-module.git
[submodule "modules/bettertest"]
	path = modules/bettertest
	url = https://github.com/TimZoet/bettertest-module.git
[submodule "modules/common"]
	path = modules/common
	url = https://github.com/TimZoet/common-module.git
[submodule "modules/parsertongue"]
	path = modules/parsertongue
	url = https://github.com/TimZoet/parsertongue-module.git
